@page "/product/all"
@using Loja.Shared
@inject HttpClient Http
@inject IProductService ProductService

<PageTitle>Products List</PageTitle>

<h1>Products List</h1>

<p>This component demonstrates a Product List fetched from the server.</p>

@if (_product == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table table-striped table-hover">
		<thead>
		<tr>
			<th>ID</th>
			<th>Product Name</th>
			<th>Barcode</th>
			<th>Category</th>
			<th>Brand</th>
			<th>Price</th>
			<th>Stock</th>
			<th>TAX</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		@foreach (var product in _product)
		{
			<tr>
				<td class="align-middle">@product.Id</td>
				<td>@product.ProductName</td>
				<td>@product.Barcode</td>
				<td>@product.Category</td>
				<td>@product.Brand</td>
				<td>@product.Price</td>
				<td>@product.Stock</td>
				<td>@product.Tax</td>
				<td>
					<a href="product/@product.Id/edit">
						<span class="oi oi-pencil"></span>
					</a>
				</td>
			</tr>
		}
		</tbody>
	</table>
}
@code {
	private List<ProductsView> _product = new List<ProductsView>();
	string message = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		var result = await ProductService.GetProductsView();
		_product = result;
	}
}
